/* Resetando configuração para manter padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;

}

/* fontes externas */
.bungee-regular {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Fim fontes externas */

/* Estilização body */
body {
    background-color: #e5e5e5;
    color: white;
}

/* Fim Body */

/* Estilização do Header */

header{
    position: sticky;    
    top: 0;
}

.container-header {
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
}

.container>* {
    font-family: rationale;
}

.container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 70px;
    margin: 0 auto;
}

.container span {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container span h2 {
    font-size: xx-large;
    font-weight: 800;
}

h3:hover {
    color: transparent;
    transition: 0.6s;
}

h3:hover::after {
    content: "Samuray_Dev";
    position: absolute;
    color: black;
    translate: -140%;

}

.container span h3 {
    font-size: medium;
    font-weight: 500;
}


.container nav {
    margin-right: 10%;
}

.container nav ul {
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style: none;


}

.container li a {
    padding: 8px;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    color: black;

}

.container li a:hover {
    background-color: #BFBFBF;
    transition: 0.5s;
}

/* Fim da estilização do Header */






/* Estilização do Main */



main{
    font-family: "Rationale", sans-serif;
    font-size: 16px;
    color: aliceblue;
    color: #1f2937;
}

.container-main{
    display: flex;
    justify-content: center;
    flex-direction:row;
    background-color: #1f2937;
    margin: 0 auto;
    width: 1280px;
    min-height: 900px; 
    gap: 10px;
    flex-wrap: wrap;
}




.container-main #sobre{
    display: flex;
    background-color: aliceblue;
    width: 500px;
    height: 350px;
    margin-left: 18px;
    margin-top: 18px;
}

.container-main * img{
    width: 200px;
    height: auto;
}
.text p{
    font-size: x-small;
    flex-wrap: wrap;
}

.text{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.title-image{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #sobre img{
    width: 100px;
} */



/* Fim Estilização do Main */





/* Estilização do footer */

footer{
    display: flex;
    background-color: aliceblue;
}

.container-footer-main{
    margin: 0 auto;
}
.container-footer{
    display: flex;
    color: #1f2937;
    display: flex;
    width: auto;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 18px;
}


.container-footer a{
    text-decoration: none;
}
/* Fim Estilização do footer */